body{
    width: 1578px;
    height: 1020px;
    top: -457px;
    left: -715px;
    gap: 0px;
    opacity: 0px;
    
}
.box{
    width: 1000px;
height: 712px;

border: 1px solid black;
opacity: 0px;
background-color: black;



}
.box1{
    margin-top: 154px;
    margin-left: 198px;
}
h1{
    color: white;
}
.name{
    width: 500px;

    top: 324.01px;
    left: 202px;
    gap: 0px;
    border: none;
    opacity: 0px;
    border-bottom: 1px solid white;
background-color: black;
    
}

  /* Hide the default radio button */
  input[type="radio"] {
    
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .custom-radio {
    
    display: flex;
    width: 10px;
    height: 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
  }

  .radio-btn{
    color: white;
  }
.span{
    color: white;
}
.submit{
    padding: 10px;
}
.custom-checkbox{
    color: white;
}
